export GIT_AUTHOR_NAME="Ryan Delaney"
export GIT_AUTHOR_EMAIL="ryan.delaney@gmail.com"
export GIT_COMITTER_NAME="Ryan Delaney"
export GIT_COMITTER_EMAIL="ryan.delaney@gmail.com"
export COPYRIGHT_HOLDER="Ryan Delaney"
export COPYRIGHT_CLAIM="All rights reserved"
