[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/rpdelaney/LS_COLORS
[submodule "home/.config/tmux/tmux-resurrect"]
	path = home/.config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "home/.config/tmux/plugins/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.config/tmux/plugins/tmux-continuum"]
	path = home/.config/tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
