[submodule "home/.vim/bundle/fsharp"]
	path = home/.vim/bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
[submodule "home/.vim/bundle/vim-sourcecfg"]
	path = home/.vim/bundle/vim-sourcecfg
	url = git@github.com:rpdelaney/vim-sourcecfg.git
[submodule "home/.vim/bundle/vim-excel"]
	path = home/.vim/bundle/vim-excel
	url = git@github.com:yakiang/excel.vim.git
[submodule "home/.vim/bundle/vim-daylight"]
	path = home/.vim/bundle/vim-daylight
	url = git@github.com:rpdelaney/vim-daylight.git
[submodule "home/.vim/bundle/pgsql"]
	path = home/.vim/bundle/pgsql
	url = git@github.com:rpdelaney/vim-pgsql.git
[submodule "home/.vim/bundle/sprunge"]
	path = home/.vim/bundle/sprunge
	url = git@github.com:chilicuil/vim-sprunge.git
[submodule "home/.vim/bundle/vim-shell-executor"]
	path = home/.vim/bundle/shell-executor
	url = git@github.com:rpdelaney/vim-shell-executor.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.vim/bundle/smartusline"]
	path = home/.vim/bundle/smartusline
	url = git@github.com:molok/vim-smartusline.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = git@github.com:altercation/solarized.git
[submodule "home/.vim/bundle/rtorrent"]
	path = home/.vim/bundle/rtorrent
	url = git@github.com:rpdelaney/rtorrent-syntax-file.git
[submodule "home/.vim/bundle/json"]
	path = home/.vim/bundle/json
	url = git@github.com:jkufner/vim-json.git
[submodule "home/.vim/bundle/sourcepawn"]
	path = home/.vim/bundle/sourcepawn
	url = git@github.com:/withgod/vim-sourcepawn.git
[submodule "home/.vim/bundle/psqlrc"]
	path = home/.vim/bundle/psqlrc
	url = git@github.com:rpdelaney/vim-psqlrc.git
[submodule "home/.vim/bundle/airline"]
	path = home/.vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "home/.vim/bundle/gitgutter"]
	path = home/.vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
