[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/rpdelaney/LS_COLORS
[submodule "home/.config/tmux/tmux-resurrect"]
	path = home/.config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "home/.config/tmux/plugins/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.config/tmux/plugins/tmux-continuum"]
	path = home/.config/tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "data/private"]
	path = data/private
	url = git@github.com:rpdelaney/dotfiles-private.git
[submodule "sexy-bash-prompt"]
	path = sexy-bash-prompt
	url = git@github.com:rpdelaney/sexy-bash-prompt.git
[submodule "git.commit.template"]
	path = data/git.commit.template
	url = git@gist.github.com:41651befb2326a19aafec4660ff315e9.git
	branch = master
[submodule "gruvbox-material-kitty"]
	path = gruvbox-material-kitty
	url = git@github.com:rsaihe/gruvbox-material-kitty.git
