# bell on tab-completion
set bell-style visual

# meta {{{
# Enable eight-bit input regardless of terminal support
set input-meta on
# Interpret meta characters
set convert-meta off
# Display characters with the eighth bit set directly,
# rather than as a meta-prefixed escape sequence. Default is
# 'off'
set output-meta on
# }}}

# Expand homedir name
set expand-tilde on

# Append "/" to all dirnames
set mark-directories on
set mark-symlinked-directories off

# auto-completion {{{
	# ignore case when auto-completing
set completion-ignore-case on
	# show all if ambiguous
set show-all-if-ambiguous on
	# Match all files
set match-hidden-files on
	# but only if no completion is possible
set show-all-if-unmodified on
# }}}
# binds {{{
#TAB: menu-complete
# }}}
# console mode {{{
$if mode=emacs

# for linux console and RH/Debian xterm
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[3~": delete-char
"\e[2~": quoted-insert
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# for rxvt
"\e[8~": end-of-line

# for non RH/Debian xterm, can't hurt for RH/DEbian xterm
"\eOH": beginning-of-line
"\eOF": end-of-line

# for freebsd console
"\e[H": beginning-of-line
"\e[F": end-of-line
$endif
# }}}

# vim: ft=readline foldmethod=marker:
