# vim: ft=conf:
#
*gtk*/
*menus/
transmission*/
dconf*/
gconf*/
libreoffice*/
signal*/
Signal*/
chromium*/
deluge*/
midori*/
Code/
pulse/
Trolltech.conf
hub
QtProject.conf
configstore/
.op/*
vlc
mps-youtube
exercism
direnv
getmail

mpd
!mpd/mpd.conf

qalc.history

# since mumble.conf has the certificate in it (herpa derp) we have to ignore it
Mumble

# Ignore the git config, because we actually edit this through install.d
git/config

pip/*
pip/!pip.conf

ranger/*
ranger/!.gitignore
ranger/!rc.conf
ranger/!commands.py
ranger/!scope.sh

weechat/**/*.log
weechat/logs

# EOF
