*gtk*/
*menus/
transmission*/
dconf*/
gconf*/
libreoffice*/
signal*/
Signal*/
chromium*/
deluge*/
midori*/
Code/
pulse/
Trolltech.conf
hub
QtProject.conf
configstore/
.op/*
vlc
mps-youtube
exercism
direnv
mpd
!mpd/mpd.conf
