[Unit]
Description=Gammastep - adjusts the color temperature

[Service]
ExecStart=/usr/bin/gammastep
Restart=always

[Install]
WantedBy=default.target
