[Unit]
Description=Gammastep - adjusts the color temperature
After=graphical-session.target

[Service]
ExecStart=/usr/bin/gammastep-indicator
ExecStop=/usr/bin/pkill gammastep
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
