[Unit]
Description=Gammastep - adjusts the color temperature

[Service]
ExecStart=/usr/bin/gammastep
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
