# This runs as root, so it should be an AUR package or such
[Unit]
Description=Pacman Cache Cleanup

[Service]
Type=oneshot
ExecStart=/usr/bin/paccache -ruk1
ExecStart=/usr/bin/paccache -rk2
