[Unit]
Description=rTorrent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rtorrent
ExecStop=/bin/kill -s SIGINT $MAINPID

[Install]
WantedBy=default.target
